.page-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.level-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    color: white;
    margin: auto;
    padding-top: 20px;
}

.level-holder > h1 {
    text-align: center;
}

.lesson-holder {
    width: 394px;
    height: 88px;
    background-image: url('../../assets/images/lessons_button.png');
    color: white;
    margin: auto;
    padding-top: 20px;
}

.lesson-holder > h1 {
    text-align: center;
}

.units-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    color: white;
    margin: auto;
    padding-top: 20px;
}

.units-holder > h1 {
    text-align: center;
}

.content {
    color: white;
    margin-top: 10px;
}

.bg-clickable {
    cursor: pointer;
}

.btn-active {
    width: 140px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding-top: 10px;
}

.level-btn {
    width: 120px;
    height: 120px;
    border: 10px solid #fff;
    border-radius: 50%;
    background-color: #f47f6f;
    margin: auto;
    padding-top: 15px;
}

.disable {
    display: none;
}

.lock {
    border-radius: 50%;
    background-color: rgba(0,0, 0, .5);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    padding-top: 30px;
}

.ratting {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .level-holder {
        width: 200px;
        height: 68px;
        background-image: url('../../assets/images/progress-meter-sm.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
    }
    .lesson-holder {
        width: 335px;
        height: 72px;
        background-image: url('../../assets/images/main-button-sm.png');
        color: white;
        margin: auto;
        padding-top: 10px;
    }
    .units-holder {
        width: 200px;
        height: 68px;
        background-image: url('../../assets/images/progress-meter-sm.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
    }
    .content-sm {
        margin-top: -20px;
        margin-right: 20px;
    }
    .content-sm-rw1 {
        margin-right: 20px;
    }
}