.page-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headr {
    display: flex;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.level-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.lesson-holder {
    width: 394px;
    height: 88px;
    background-image: url('../../assets/images/lessons_button.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.units-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    display: flex;
    color: white;
}

.content-item {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bg-clickable {
    cursor: pointer;
}

.btn-active {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.level-btn {
    width: 120px;
    height: 120px;
    border: 10px solid #fff;
    border-radius: 50%;
    background-color: #f47f6f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disable {
    display: none;
}

.lock {
    border-radius: 50%;
    background-color: rgba(0,0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
}

/* .reward {
    width: 57px;
    height: 70px;
    background-image: url('../../scos/75215/media/images/reward.png');
    display: flex;
    justify-content: center;
    align-items: center;
} */

.lock-icon {
    font-size: 40px;
}