.page-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.level-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    color: white;
    margin: auto;
    padding-top: 20px;
}

.level-holder > h1 {
    text-align: center;
}

.lesson-holder {
    width: 394px;
    height: 88px;
    background-image: url('../../assets/images/lessons_button.png');
    color: white;
    margin: auto;
    padding-top: 20px;
}

.lesson-holder > h1 {
    text-align: center;
}

.units-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    color: white;
    margin: auto;
    padding-top: 20px;
}

.units-holder > h1 {
    text-align: center;
}

.content {
    color: white;
    margin-top: 50px;
}

.bg-clickable {
    cursor: pointer;
}

.btn-active {
    width: 140px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding-top: 10px;
}

.level-btn {
    width: 120px;
    height: 120px;
    border: 10px solid #fff;
    border-radius: 50%;
    background-color: #f47f6f;
    margin: auto;
    padding-top: 15px;
    z-index: 2;
}

.disable {
    display: none;
}

.lock {
    border-radius: 50%;
    background-color: rgba(0,0, 0, .5);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    padding-top: 30px;
}

.ratting {
    text-align: center;
}

.svg1 {
    width: 85%;
    height: 200%;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(273deg);
    margin-top: -130px;
    margin-left: -150px;
    z-index: 0;
  }
  .svg1-2 {
    width: 105%;
    height: 210%;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(271deg);
    margin-top: -130px;
    margin-left: -150px;
    z-index: 0;
  }
  .svg2 {
    width: 300px;
    height: 277px;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(249deg);
    margin-top: -240px;
    margin-left: -80px;
  }
  .svg2-2 {
    width: 330px;
    height: 273px;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(256deg);
    margin-top: -239px;
    margin-left: -80px;
  }
  .svg3 {
    width: 90%;
    height: 337%;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(460deg);
    margin-top: -190px;
    margin-left: -85px;
  }
  .svg4 {
    width: 70%;
    height: 179%;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(257deg);
    margin-top: -2px;
    margin-left: 137px;
  }
  .svg5 {
    width: 30%;
    height: 114%;
    /* background: #eee; */
    margin-bottom: 5%;
    position: absolute;
    transform: rotate(241deg);
    margin-top: -122px;
    margin-left: 282px;
  }
  svg polyline,
  svg line,
  svg path {
    fill: none;
    stroke: #fff;
    /* stroke-linecap: round; */
    stroke-linejoin: round;
    transition: 0.2s;
  }

@media screen and (max-width: 768px) {
    .level-holder {
        width: 200px;
        height: 68px;
        background-image: url('../../assets/images/progress-meter-sm.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
    }
    .lesson-holder {
        width: 335px;
        height: 72px;
        background-image: url('../../assets/images/main-button-sm.png');
        color: white;
        margin: auto;
        padding-top: 10px;
    }
    .units-holder {
        width: 200px;
        height: 68px;
        background-image: url('../../assets/images/progress-meter-sm.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
    }
    .content-sm {
        margin-top: -20px;
        margin-right: 20px;
    }
    .content-sm-rw1 {
        margin-right: 20px;
    }
}