.App {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    background-image: url('../../scos/75215/media/images/bg-clouds.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
