.header-s1 {
    display: flex;
}

.play-img-s1 {
    width: 102px;
    height: 88px;
    cursor: pointer;
    margin-left: 30px;
}


.big-a-text-holder {
    width: 406px;
    height: 88px;
    background-image: url('../../assets/images/long_textholder.png');
    margin: auto;
}

.big-a-text-holder > h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.checkbox-holder {
    width: 247px;
    height: 88px;
    background-image: url('../../assets/images/levels_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 15px;
    float: right;
    margin-right: 30px;
}

.check-box {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 6px;
    margin-right: 5px;
    display: inline-block;
}

.top-margin {
    padding-top: 80px;
}

.img-holder-s1 {
    width: 409px;
    height: 316px;
    background-image: url('../../assets/images/image_holder_white.png');
    color: #000;
    margin: auto;
    padding-top: 30px;
}

.img-holder-s1 > h1 {
    font-size: 12rem;
    font-weight: bold;
    color: #ff00ff;
    text-align: center;
}

.img-holder-s2 {
    width: 409px;
    height: 316px;
    background-image: url('../../assets/images/image_holder.png');
    margin: auto;
}

.res-text-holder-s3 {
    width: 394px;
    height: 88px;
    background-image: url('../../assets/images/long_textholder.png');
    margin: auto;
    margin-top: 50px;
}

.res-text-holder-s3 > h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.content-s4 {
    margin-top: 180px;
}

.img-holder-s5 {
    width: 409px;
    height: 316px;
    background-image: url('../../assets/images/image_holder_white.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.big-a-text-holder-s6 {
    width: 394px;
    height: 88px;
    background-image: url('../../assets/images/long_textholder.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-a-text-holder-s6 > h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-top: 8px;
}

.saveBtnSm {
    display: none;
}

@media screen and (max-width: 768px) {
    .big-a-text-holder {
        width: 335px;
        height: 72px;
        background-image: url('../../assets/images/main-button-sm.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .saveBtnLg {
        display: none;
    }
    .saveBtnSm {
        display: block;
        margin-left: 35px;
    }
    .saveBtnSm > img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .checkboxes {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .checkbox-holder {
        width: 200px;
        height: 68px;
        background-image: url('../../assets/images/progress-meter-sm.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px 10px;
        float: right;
        margin-right: 30px;
    }
    .check-box {
        width: 25px;
        height: 25px;
        border: 2px solid white;
        border-radius: 6px;
        margin-right: 5px;
        display: inline-block;
    }
    .check-box > img {
        width: 18px;
        height: 15px;
    }
    .top-margin {
        margin-top: -80px;
    }
    .col-margin-top-sm {
        margin-bottom: -50px;
    }
    .img-holder-s1 {
        width: 409px;
        height: 316px;
        background-image: url('../../assets/images/image-placeholder-sm.png');
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 60px;
    }
    .img-holder-s1 > h1 {
        font-size: 10rem;
        font-weight: bold;
        color: #ff00ff;
        text-align: center;
    }
    .img-holder-s2 {
        width: 409px;
        height: 316px;
        background-image: url('../../assets/images/image-placeholder-sm.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .res-text-holder-s3 {
        width: 394px;
        height: 88px;
        background-image: url('../../assets/images/main-button-sm.png');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: -50px;
    }
    .sub-content-s4 {
        margin-bottom: -60px;
    }
}