.btn-slide {
    width: 102px;
    height: 88px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.prev {
    top: 60%;
    left: 50px;
    transform: translateY(-60%);
}
.next {
    top: 60%;
    right: 50px;
    transform: translateY(-60%);
}

.btn-slide-sm {
    display: none;
}

@media screen and (max-width: 768px) {
    .prev {
        top: 90%;
    }
    .next {
        top: 90%;
    }
    .btn-slide-sm {
        display: block;
        width: 80px;
        height: 66px;
    }
    .btn-slide-lg {
        display: none;
    }
}